<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.MissionProgressMapper">
  <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.model.DO.MissionProgress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mission_id" jdbcType="BIGINT" property="missionId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="user_access" jdbcType="SMALLINT" property="userAccess" />
    <result column="state" jdbcType="SMALLINT" property="state" />
    <result column="ext" jdbcType="VARCHAR" property="ext" />
    <result column="last_view_time" jdbcType="TIMESTAMP" property="lastViewTime" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mission_id, user_id, group_id, user_access, state, ext, last_view_time, ctime, 
    utime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mission_progress_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mission_progress_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tencent.wxcloudrun.model.DO.MissionProgress">
    insert into mission_progress_table (id, mission_id, user_id, 
      group_id, user_access, state, 
      ext, last_view_time, ctime, 
      utime)
    values (#{id,jdbcType=INTEGER}, #{missionId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{groupId,jdbcType=BIGINT}, #{userAccess,jdbcType=SMALLINT}, #{state,jdbcType=SMALLINT}, 
      #{ext,jdbcType=VARCHAR}, #{lastViewTime,jdbcType=TIMESTAMP}, #{ctime,jdbcType=TIMESTAMP}, 
      #{utime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tencent.wxcloudrun.model.DO.MissionProgress">
    insert into mission_progress_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="missionId != null">
        mission_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="userAccess != null">
        user_access,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="ext != null">
        ext,
      </if>
      <if test="lastViewTime != null">
        last_view_time,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="utime != null">
        utime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="missionId != null">
        #{missionId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="userAccess != null">
        #{userAccess,jdbcType=SMALLINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="ext != null">
        #{ext,jdbcType=VARCHAR},
      </if>
      <if test="lastViewTime != null">
        #{lastViewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null">
        #{utime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tencent.wxcloudrun.model.DO.MissionProgress">
    update mission_progress_table
    <set>
      <if test="missionId != null">
        mission_id = #{missionId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="userAccess != null">
        user_access = #{userAccess,jdbcType=SMALLINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="ext != null">
        ext = #{ext,jdbcType=VARCHAR},
      </if>
      <if test="lastViewTime != null">
        last_view_time = #{lastViewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null">
        utime = #{utime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tencent.wxcloudrun.model.DO.MissionProgress">
    update mission_progress_table
    set mission_id = #{missionId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      group_id = #{groupId,jdbcType=BIGINT},
      user_access = #{userAccess,jdbcType=SMALLINT},
      state = #{state,jdbcType=SMALLINT},
      ext = #{ext,jdbcType=VARCHAR},
      last_view_time = #{lastViewTime,jdbcType=TIMESTAMP},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      utime = #{utime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateLastViewTime">
    update mission_progress_table
    set last_view_time = now()
    <where>
      <if test="userId != null">
        user_id = #{userId}
      </if>
      <if test="missionId != null">
        AND mission_id = #{missionId}
      </if>
    </where>
  </update>

  <select id="selectByUserIdProgressList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mission_progress_table
    where user_id = #{userId,jdbcType=INTEGER}
    and state &lt; 300
  </select>

  <select id="selectByUserIdAndTaskIds" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mission_progress_table
    <where>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="taskIds !=null ">
        and mission_id in
        <foreach collection="taskIds" item="taskIds" open="(" separator="," close=")">
          #{taskIds}
        </foreach>
      </if>
    </where>
  </select>

  <select id="selectByMissionIdProgressList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mission_progress_table
    where mission_id = #{missionId,jdbcType=INTEGER}
  </select>

  <select id="selectByUserIdAndMissionIdProgressList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mission_progress_table
    where user_id = #{userId,jdbcType=INTEGER}
    and mission_id = #{missionId,jdbcType=INTEGER}
  </select>

</mapper>